<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body>

    <div class="layui-container" style="padding: 20px 20px;">
        <form class="layui-form layui-form-pane" method="post" action="">

            <input name="id" type="hidden" th:if="${not #strings.isEmpty(notice.id)}"
                   placeholder="" autocomplete="off" class="layui-input"
                   th:value="${notice.id}"/>

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input name="title" type="text" required="" lay-verify="required|name"
                           placeholder="名称" autocomplete="off" class="layui-input"
                           th:value="${notice.title}"/>
                </div>
            </div>

            <textarea id="content" name="content" style="display: none;" th:text="${notice.content}"></textarea>
<!--
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <textarea name="content" class="layui-textarea"
                              th:utext="${notice.content}">
                    </textarea>
                </div>
            </div>
-->

            <!--/* 按钮组容器 */-->
            <div class="layui-btn-container" style="text-align: center; padding-top: 10px; border: 1px solid #eeeeee;">
                <button type="submit" lay-submit class="layui-btn layui-btn-normal mwj-btn-width" lay-filter="submit-filter">提交</button>
                <button type="button" id="cancel" class="layui-btn layui-btn-normal mwj-btn-width">取消</button>
            </div>
        </form>
    </div>

    <div th:include="include::footer"></div>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            /* 自定义表单验证 */
            let form = layui.form, layedit = layui.layedit;
            form.verify({
                // value：表单的值、item：表单的DOM对象
                name: function(value, item){
                    if(/(^\_)|(\__)|(\_+$)/.test(value)){
                        return '名称首尾不能出现下划线\'_\'';
                    }
                    if(/^\d+\d+\d$/.test(value)){
                        return '名称不能全为数字';
                    }
                    if(value.length > 30){
                        return '名称长度不能大于30';
                    }
                }
            });

            let index = layedit.build('content', {
                tool: ['strong' //加粗
                    ,'italic' //斜体
                    ,'underline' //下划线
                    ,'del' //删除线
                    ,'|' //分割线
                    ,'left' //左对齐
                    ,'center' //居中对齐
                    ,'right' //右对齐
                    ,'link' //超链接
                    ,'unlink' //清除链接
                    ,'face' //表情
                    //,'image' //插入图片
                    //,'help' //帮助
                ]
            });

            /* 提交按钮 */
            form.on('submit(submit-filter)', function(data){
                //console.log(data.elem); //被执行事件的元素DOM对象，一般为button对象
                //console.log(data.form); //被执行提交的form对象，一般在存在form标签时才会返回
                //console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}

                data.field.content = layedit.getContent(index);

                let url = data.field.id ? '/sys/notice/update' : '/sys/notice/insert';
                $.post(url, data.field, function (result) {
                    mwj.msg(result);
                    if(result.code == 0){
                        mwj.closeLayer();
                        parent.$("#sideNavTree .layui-this a").get(0).click();
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            mwj.addRedStar();

            $("#cancel").on("click", function () {
                mwj.closeLayer();
            });
        });
    </script>
</body>

</html>