<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div class="layui-container mwj-height-full" style="width: 100%;">

        <form class="layui-form layui-form-pane" method="post" action="">
            <div class="layui-form-item" style="margin-bottom: 0px;">
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input name="title" type="text" autocomplete="on" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status" lay-search th:with="statusArray=${@commonService.getStatuses()}">
                            <option value="">请选择</option>
                            <option th:each="status : ${statusArray}"
                                    th:value="${status.name()}"
                                    th:text="${status.getDesc()}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <!--/* 按钮组容器 */-->
                    <div class="layui-btn-container">
                        <button lay-submit class="layui-btn layui-btn-normal" style="width: 110px;" lay-filter="search-filter">搜索</button>
                        <input id="resetBtn" type="reset" class="layui-btn layui-btn-normal" style="width: 110px;"/>
                    </div>

                </div>
            </div>
        </form>

        <table id="table" lay-filter="table-filter"></table>

        <script id="headBarTpl" type="text/html">
            <div class="layui-btn-container">
                <a class="mwj-mgr" href="javascript:" lay-event="add" title="添加">
                            <span class="layui-btn layui-btn-sm layui-btn-normal">
                                <i class="layui-icon layui-icon-add-1"></i>添加
                            </span>
                </a>
            </div>
        </script>

        <script id="switchTpl" type="text/html">
            <input type="checkbox"
                   name="roleStatus"
                   value="{{d.id}}"
                   lay-skin="switch"
                   lay-text="正常|停用"
                   lay-filter="switch-filter" {{ d.status == '正常' ? 'checked' : '' }}>
        </script>

        <script id="toolbarTpl" type="text/html">
            <div class="layui-btn-container">
                <a class="mwj-mgr" href="javascript:" lay-event="edit" title="编辑">
                    <i class="layui-icon layui-icon-edit" style="color: #1E9FFF; font-size: 20px;"></i>
                </a>
                <a class="mwj-mgr" href="javascript:" lay-event="delete" title="删除">
                    <i class="layui-icon layui-icon-delete" style="color: #FF5722; font-size: 20px;"></i>
                </a>
            </div>
        </script>

    </div>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            let table = layui.table, form = layui.form;

            let tableIns = table.render({
                elem: '#table' //指定原始表格元素选择器（推荐id选择器）
                ,url: 'sys/notice/queryPage'
                ,where: {_csrf: $("meta[name='_csrf']").attr("content")}
                ,method: 'post'
                //,height: 'full-20' //高度最大化减去差值
                ,loading: true //是否显示加载条
                ,toolbar: '#headBarTpl' // true/'default'/'<div>xxx</div>'/'#toolbarDemo'
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,page: {  // 分页,可包含 laypage 组件所有支持的参数（jump、elem除外）
                    theme: '#1E9FFF'
                    ,limit: 10  //默认采用10条
                    ,limits: [10, 50, 100, 200]    // 每页条数[10, 20, 30]等
                }
                ,cols:  [ // 表头，标题栏。这里的上下两个中括号一定要分开写，如果写在一起，就被thymeleaf解释为内联表达式了。
                    [
                        {field: 'id',      title: '编号',               hide:true}
                        ,{field: 'title',   title: '标题',  minWidth:160, sort:false}
                        ,{field: 'content',   title: '内容',  minWidth:160, sort:false}
                        ,{field: 'status',  title: '状态', width:120, sort:true, align:'center', templet: '#switchTpl'}
                        ,{field: 'createUserNick',     title: '创建者', width:120}
                        ,{field: 'createTime',          title: '创建时间',   minWidth:180}
                        ,{field: 'updateUserNick',      title: '更新者', width:120}
                        ,{field: 'updateTime',      title: '更新时间',   minWidth:180}
                        //下面这里的toolbar值是模板元素的选择器
                        ,{fixed: 'right', title: '操作', align:'center', width: 120, toolbar: '#toolbarTpl'}
                    ]
                ]
            });

            //监听头部工具栏事件
            table.on('toolbar(table-filter)', function(obj){
                let curr = obj.config.page.curr;
                switch (obj.event) {
                    case 'add':
                        editPage("通知公告新增", "/sys/notice/add");
                        break;
                    default:
                        break;
                }
            });

            //监听工具条
            table.on('tool(table-filter)', function(obj){
                let row = obj.data;
                switch (obj.event) {
                    case 'edit':
                        editPage("通知公告编辑", "/sys/notice/edit/" + row.id);
                        break;
                    case 'delete':
                        let warnMsg = '确认删除【' + row.title + '】吗？';
                        layer.confirm(warnMsg, function(index){
                            $.post("/sys/notice/delete/" + row.id, null, function (result) {
                                layer.close(index);
                                mwj.msg(result);

                                if(result.code === 0){
                                    obj.del(); // 删除对应行（tr）的DOM结构，并更新缓存
                                }
                            });
                        });
                        break;
                    default:
                        break;
                }
            });

            form.on('switch(switch-filter)', function(data){
                let noticeId = data.value;
                let status = data.elem.checked ? '0' : '1';
                $.post("/sys/notice/switchStatus", {id: noticeId, status: status}, function (result) {
                    mwj.msg(result);
                });

                //console.log(data.elem); //得到checkbox原始DOM对象
                //console.log(data.elem.checked); //开关是否开启，true或者false
                //console.log(data.value); //开关value值，也可以通过data.elem.value得到
                //console.log(data.othis); //得到美化后的DOM对象

            });

            /**
             * 重载表格
             * @param curr 当前页
             * @param params 参数对象{}
             */
            function reloadTable(curr, params) {
                curr  = curr ? curr : 1;
                params = params ? params : {};
                params._csrf = $("meta[name='_csrf']").attr("content");
                tableIns.reload({
                    where: params
                    ,page: {
                        theme: '#1E9FFF',
                        curr: curr //重新从第 curr 页开始
                    }
                });
            }

            /* 监听表单提交——查询按钮——重载表格 */
            form.on('submit(search-filter)', function(data){
                //console.log(data.elem); //被执行事件的元素DOM对象，一般为button对象
                //console.log(data.form); //被执行提交的form对象，一般在存在form标签时才会返回
                //console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}
                //执行重载
                reloadTable(1, data.field);
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            // 显式渲染，否则select无法被渲染
            form.render();

            /**
             * 编辑弹框
             * @param title
             * @param url
             * @returns {*}
             */
            function editPage(title, url) {
                return layer.open({
                    type: 2
                    ,title: title
                    ,shadeClose: false
                    ,shade: [0.5, "#393D49"]
                    ,maxmin: true
                    ,area: ["760px", "540px"]
                    ,resize: false
                    ,content: url
                });
            }
        });
    </script>
</body>

</html>